.nav {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.nav-item {
  font-size: 1.25rem;
  text-decoration: none;
  transition: transform .25s ease-in-out;

  color: var(--heading);
}

.nav-item:hover {
  transform: translateY(-.2rem);
  color: var(--text-h);
  text-decoration: underline;
}